{% extends 'consultarPesquisa.html' %}
{% load i18n %}
{% block head %}
    <title>Filtrar País</title>
{% endblock %}

{% block content %}
<div class="col-6 m-auto">
        <form action="">
            {% csrf_token %}
            <select class="form-control mt-5" name="country" id="country" required>
                <!--<option value="">Selecione o País</option>-->
                {% for pesquisa in pesquisas  %}
                    <option value="{{countries}}">{{countries}}</option>
                {% endfor %}
            </select>
        </form>
    </div>
   <!-- <div class="result col-10 m-auto">
        {% autoescape off %}
         {{dados}}
        {% endautoescape %}
    </div> -->
{% endblock %}

<!-- {% block body %}
<div class="col-10 m-auto pt-2 pb-2" text-center>
    <h1>Filtrar por País</h1>
  </div>

  <div class="col-5 m-auto pt-2 pb-2" text-center>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Country</th>
        </tr>
      </thead>
    <form action="">
        {% csrf_token %}
      <select class="form-control mt-5" name="country" id="country" required>
         <option value="">Selecione o País</option>
  </form><br><br>
      <tbody>
        {% for pesquisa in pesquisas %}
          <tr>
            <td>{{ pesquisa.country }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %} -->